---
import PageHeading from "../../components/page-heading.astro";
import Layout from "../../layouts/main.astro";
import SearchBar from "src/components/SearchBar.astro";
import ProjectLoop from "src/components/project-loop.astro";

return Astro.redirect('/project/page/1');
---

<Layout title="My Writing">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Writing"
      description="Dive into my musings on life and tech in my latest posts; a blend of introspection and innovation. Keep an eye out for fresh insights and updates!"
    />
    <SearchBar type="project" />
    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
    <ProjectLoop postCount={10} />
    </div>
  </section>
</Layout>
