<div class="pt-8">
    <div class="flex flex-col lg:flex-row  gap-6 mb-12 justify-between items-center">
        <!-- 标题部分 -->
        <div class="flex items-center justify-between flex-wrap gap-4">
            <div class="flex items-center">
                <h2
                    class="text-2xl font-bold tracking-wider dark:text-white w-40"
                >
                    ABOUT ME
                </h2>
                <div
                    class="ml-4 w-24 h-[2px] bg-neutral-200 dark:bg-neutral-800 relative"
                >
                    <div class="absolute right-0 -top-1.5 w-4 h-4 bg-[#a9e425]">
                    </div>
                </div>
            </div>
            
        <div class="flex items-center w-8 h-8 relative">
            <div
                class="absolute inset-0 w-full h-full rounded-full border-4 border-neutral-800"
            >
            </div>
            <div
                class="absolute inset-0 w-full h-full rounded-full bg-[#a9e425] translate-x-6"
            >
            </div>
        </div>
        </div>

        <!-- 个人信息卡片 -->
        <div
            class="flex items-center px-2 py-2 bg-neutral-800 dark:bg-neutral-900 text-white rounded-3xl flex-wrap gap-4"
        >
            <div class="flex items-center">
                <div
                    class="w-5 h-5 rounded-full border-2 border-white flex items-center justify-center"
                >
                    <div class="w-2 h-2 bg-white rounded-full"></div>
                </div>
                <span class="ml-3 font-bold tracking-wider">XIAOWANG</span>
            </div>
            <div class="text-sm">|</div>
            <div class="text-sm tracking-wider">2021-2025</div>
            <div class="text-sm">|</div>
            <div class="text-sm tracking-wider">Enterprise publicity</div>
            <div class="ml-4 w-16 h-1 bg-neutral-700 relative">
                <div class="absolute top-0 left-0 h-full w-3/4 bg-white"></div>
            </div>
        </div>
        
    </div>

    <!-- 主要内容区域 -->
    <div class="flex flex-col lg:flex-row gap-8">
        <!-- 左侧内容 -->
        <div class="flex flex-row gap-4">
            <div>
                <p class="text-[56px] font-black leading-[56px] pb-4">王春玲</p>
                <div
                    class="inline-block rounded-[36px] px-4 py-1 border-2 border-white bg-gradient-to-r from-[#a9e425] to-white my-1 mb-4"
                >
                    <p
                        class="float-left text-base leading-6 text-[#1f1c1c] pr-6 relative after:content-[''] after:absolute after:h-6 after:w-[1px] after:ml-3 after:bg-white/50"
                    >
                        本科
                    </p>
                    <p class="float-left text-base leading-6 text-[#1f1c1c]">
                        4年工作经验
                    </p>
                </div>
                <div>
                    <p class="text-base">
                        既然执着于完美的成果，<br />总要为自己的执着付出成本。
                    </p>
                    <p class="mt-1.5 text-xs text-[#999]">
                        And since were obsessed with perfect results,<br />You
                        always have to pay for your persistence.
                    </p>
                </div>
            </div>

            <!-- 中间SVG图标 -->
            <div
                class="w-32 h-32 mx-auto cursor-pointer inline-block link"
            >
                <svg
                    viewBox="0 0 200 200"
                    width="200"
                    height="200"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-full h-auto transform-box-fill fill-[#2b3338] stroke-[#2b3338] stroke-[0.05em] stroke-linecap-round stroke-linejoin-round"
                    aria-labelledby="link2-title link2-desc"
                >
                    <title id="link2-title">
                        You are wonderful, now click this
                    </title>
                    <desc id="link2-desc"
                        >A rotating link with text placed around a circle, with
                        a cloud/flower shape around it, and a smiley face inside</desc
                    >

                    <path
                        id="link-circle-alt"
                        class="link__path"
                        d="M 35, 100 a 65,65 0 1,1 130,0 a 65,65 0 1,1 -130,0"
                        stroke="none"
                        fill="none"></path>

                    <path
                        class="link__cloud"
                        d="M88.964,9.111C89.997,4.612 94.586,0.999 100,0.999C105.413,0.999 110.002,4.612 111.036,9.111C113.115,4.991 118.435,2.581 123.692,3.878C128.948,5.172 132.54,9.78 132.466,14.393C135.472,10.891 141.214,9.824 146.008,12.341C150.801,14.855 153.185,20.189 152.01,24.651C155.766,21.968 161.597,22.307 165.648,25.899C169.7,29.488 170.741,35.235 168.53,39.286C172.818,37.583 178.4,39.307 181.474,43.761C184.551,48.217 184.183,54.047 181.068,57.451C185.641,56.823 190.646,59.834 192.567,64.894C194.486,69.955 192.735,75.529 188.895,78.09C193.486,78.573 197.626,82.693 198.278,88.067C198.93,93.441 195.898,98.433 191.556,100C195.898,101.567 198.93,106.56 198.278,111.934C197.626,117.307 193.486,121.427 188.895,121.91C192.735,124.472 194.486,130.045 192.567,135.106C190.646,140.167 185.641,143.177 181.068,142.549C184.183,145.954 184.551,151.783 181.474,156.239C178.4,160.693 172.818,162.418 168.53,160.712C170.741,164.766 169.7,170.512 165.648,174.102C161.597,177.691 155.766,178.032 152.01,175.349C153.185,179.812 150.801,185.145 146.008,187.66C141.214,190.176 135.472,189.109 132.466,185.607C132.54,190.221 128.948,194.828 123.692,196.123C118.435,197.419 113.115,195.009 111.036,190.889C110.002,195.388 105.413,199.001 100,199.001C94.586,199.001 89.997,195.388 88.964,190.889C86.884,195.009 81.564,197.419 76.307,196.123C71.051,194.828 67.461,190.221 67.533,185.607C64.529,189.109 58.785,190.176 53.992,187.66C49.2,185.145 46.815,179.812 47.989,175.349C44.233,178.032 38.402,177.691 34.351,174.102C30.299,170.512 29.259,164.766 31.469,160.712C27.181,162.418 21.599,160.693 18.525,156.239C15.449,151.783 15.816,145.954 18.931,142.549C14.359,143.177 9.353,140.167 7.434,135.106C5.513,130.045 7.264,124.472 11.104,121.91C6.514,121.427 2.374,117.307 1.722,111.934C1.07,106.56 4.103,101.567 8.443,100C4.103,98.433 1.07,93.441 1.722,88.067C2.374,82.693 6.514,78.573 11.104,78.09C7.264,75.529 5.513,69.955 7.434,64.894C9.353,59.834 14.359,56.823 18.931,57.451C15.816,54.047 15.449,48.217 18.525,43.761C21.599,39.307 27.181,37.583 31.469,39.286C29.259,35.235 30.299,29.488 34.351,25.899C38.402,22.307 44.233,21.968 47.989,24.651C46.815,20.189 49.2,14.855 53.992,12.341C58.785,9.824 64.529,10.891 67.533,14.393C67.461,9.78 71.051,5.172 76.307,3.878C81.564,2.581 86.884,4.991 88.964,9.111Z"
                        fill="none"></path>

                    <g class="link__face">
                        <path d="M 95 102 Q 100 107 105 102" fill="none"></path>
                        <ellipse
                            class="face"
                            cx="90"
                            cy="100"
                            rx="2"
                            ry="2"
                            stroke="none"></ellipse>
                        <ellipse
                            class="face"
                            cx="110"
                            cy="100"
                            rx="2"
                            ry="2"
                            stroke="none"></ellipse>
                        <ellipse
                            class=""
                            cx="100"
                            cy="100"
                            rx="35"
                            ry="35"
                            fill="none"></ellipse>
                    </g>

                    <text class="link__text text-xl">
                        <textPath href="#link-circle-alt" stroke="none">
                            ? you are wonderful ? now click this
                        </textPath>
                    </text>
                </svg>
            </div>
        </div>

        <!-- 右侧内容 -->
        <div class="flex-1">
            <div class="flex flex-wrap justify-between items-center gap-4">
                <div
                    class="w-10 h-10 mt-2.5 relative animate-[rotate_8s_linear_infinite]"
                >
                    <div
                        class="after:content-[''] after:inline-block after:absolute after:left-[36%] after:w-2.5 after:h-full after:bg-[#aae525]"
                    >
                    </div>
                    <div
                        class="before:content-[''] before:inline-block before:absolute before:w-full before:top-[36%] before:h-2.5 before:bg-[#aae525]"
                    >
                    </div>
                </div>
                <div>
                    <p class="text-base">除了设计还有：旋律，文字，风景</p>
                    <p class="mt-1.5 text-xs text-[#999]">
                        In addition to design, there are: melody, text, scenery
                    </p>
                </div>
            </div>

            <!-- 三个卡片区域 -->
            <div class="flex flex-row justify-between gap-8 mt-10">
                <div>
                    <p
                        class="text-[40px] font-black leading-[72px] relative before:content-[''] before:w-10 before:h-1 before:absolute before:-z-10 before:bottom-3.5 before:bg-[#9fd722]"
                    >
                        Art
                    </p>
                    <p class="text-xl font-normal leading-8">艺术创造情绪</p>
                    <p class="text-sm leading-[22px]">三年美术生涯</p>
                </div>
                <div>
                    <p
                        class="text-[40px] font-black leading-[72px] relative before:content-[''] before:w-10 before:h-1 before:absolute before:-z-10 before:bottom-3.5 before:bg-[#9fd722]"
                    >
                        Design
                    </p>
                    <p class="text-xl font-normal leading-8">设计解决问题</p>
                    <p class="text-sm leading-[22px]">设计师的修行</p>
                </div>
                <div>
                    <p
                        class="text-[40px] font-black leading-[72px] relative before:content-[''] before:w-10 before:h-1 before:absolute before:-z-10 before:bottom-3.5 before:bg-[#9fd722]"
                    >
                        Life
                    </p>
                    <p class="text-xl font-normal leading-8">生活磨平棱角</p>
                    <p class="text-sm leading-[22px]">在磨砺中成长</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes rotateReverse {
        to {
            transform: rotate(-360deg);
        }
    }

    .link__cloud {
        transform-origin: 50% 50%;
        animation: rotate normal infinite 60s linear;
        fill: rgba(255, 255, 255, 0.15);
    }

    .link__face,
    .link__arrow {
        transform-origin: 50% 50%;
        transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
    }

    .link:hover .link__face,
    .link:hover .link__arrow {
        transform: scale(1.1);
        transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    }

    .link__text {
        letter-spacing: 0.1em;
        animation: rotateReverse normal infinite 20s linear;
        transform-origin: 50% 50%;
    }

    .link:hover .link__text {
        animation-play-state: paused;
    }

    .link:hover .face {
        fill: #9fd722;
    }
</style>
