---
// InfiniteGrid.astro
import Layout from '../layouts/main.astro';
import InfiniteGridLoop from '../components/InfiniteGridLoop.astro';
---

<Layout title="Infinite Grid">
  <section id="hero" class="w-full h-screen overflow-hidden relative">
    <InfiniteGridLoop />
  </section>
</Layout>